@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    background-color: #201b1a;
    height: calc(100vh - 100px);
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-shrink: 1;
    flex-grow: 1;
    border-radius: 10px;
    color: green;
}
.download_images {
    border-radius: 10px;
    border-style: solid;
    width: 100%;
    object-fit: cover;
    transition: 150ms ease;
}

.break {
    flex-basis: 100%;
    height: 0;
}

text {
    color: green;
}

#container {
    border-radius: 10px;
    border-style: solid;
    height: fit-content;
    width: fit-content;
    border-color: aliceblue;
    transition: 150ms ease;
}

#container:hover {
    scale: 1.2;
}

#container:hover > #countdisplay {
    display: flex;
    opacity: 1.0;
    align-items: center;
    transition: 1000ms ease;
}

#container:hover > #serverAddress {
    display: flex;
    opacity: 1.0;
    align-items: center;
    transition: 1000ms ease;
}

#modloadercontainer {
    display: block;
    border-style: solid;
    border-color: aliceblue;
    border-radius: 10px;
    transition: 150ms ease;
}

#modloadercontainer:hover {
    scale: 1.2;
}

#countdisplay {
    position: absolute;
    top: 210px;
    left: 10px;
    opacity: 0.0;
}

#serverAddress {
    position: absolute;
    top: 210px;
    right: 10px;
    opacity: 0.0;
}

img {
    border-radius: 10px;
}

h1 {
    position: absolute;
    top: 1%;
}
a, a:visited {
    text-decoration: none;
}
.dropdown {
    position: relative;

    display: inline-block;
    transition: 150ms ease;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-image: linear-gradient(blue, deeppink);
    border-radius: 10px;
    border-style: solid;
    border-color: white;
    min-width: 125px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0,2);
    z-index: 1;
    transition: 150ms ease;
}
.dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 150ms ease;
}
.dropdown:hover .dropdown-content {
    display: flex;
    left: 50%;
    transform: translateX(-50%);
    transition: all linear 1s;
    opacity: 1;
}

p {
    color: aliceblue;
}

@media (max-width: 950px) {
    body {
        padding-top: 350px;
    }
    h1 {
        position: relative;
    }
    .dropdown:hover .dropdown-content {
        display: flex;
        flex-direction: column;
        left: 50%;
        transform: translateX(-50%);
        transition: all linear 1s;
        opacity: 1;
    }
    #container {
        object-fit: scale-down;
        max-width: 100%;
    }
    .download_images {
        object-fit: scale-down;
        max-width: 100%;
    }
    #mainImages {
        object-fit: scale-down;
        max-width: 100%;
    }
}